In [1]:
## 라이브러리 불러오기

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [8]:
dep_df = pd.read_csv("./data.csv")

dep_df

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
0,926,91,1,28,1,4,10,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1,747,57,1,23,1,3,8,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,1
2,1190,115,1,22,1,3,9,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
3,1065,97,1,27,1,2,10,4,52667108,19698904,...,0,1,0,1,22288055,18751329,0,7781123,69219765.0,0
4,806,42,0,59,0,4,10,6,82606287,17352654,...,1,0,0,0,53384566,20731006,1,20100562,43419447.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,255,22,1,25,1,1,7,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1425,547,69,1,28,1,4,10,6,15711078,24023054,...,0,1,0,0,23022095,1021536,0,1823477,47384361.0,0
1426,893,184,1,66,0,0,1,1,42440731,22861940,...,0,1,0,0,12545373,10454478,0,46444572,10454478.0,1
1427,363,75,1,51,1,1,12,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1428,231,12,1,33,0,4,8,5,81678391,22861940,...,0,1,0,1,20019212,16682677,0,69642126,13012488.0,0

In [12]:
dep_df.isnull().sum()

Survey_id                 0
Ville_id                  0
sex                       0
Age                       0
Married                   0
Number_children           0
education_level           0
total_members             0
gained_asset              0
durable_asset             0
save_asset                0
living_expenses           0
other_expenses            0
incoming_salary           0
incoming_own_farm         0
incoming_business         0
incoming_no_business      0
incoming_agricultural     0
farm_expenses             0
labor_primary             0
lasting_investment        0
no_lasting_investmen     20
depressed                 0
dtype: int64

In [13]:
dep_df.describe()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
count,1429.00000,1429.000000,1429.000000,1429.000000,1429.000000,1429.000000,1429.000000,1429.000000,1.429000e+03,1.429000e+03,...,1429.000000,1429.000000,1429.000000,1429.000000,1.429000e+03,1.429000e+03,1429.000000,1.429000e+03,1.409000e+03,1429.000000
mean,715.00000,76.286214,0.918125,34.777467,0.772568,2.883135,8.687194,4.969209,3.363448e+07,2.717296e+07,...,0.179846,0.251924,0.107768,0.260322,3.451039e+07,3.549153e+07,0.213436,3.299222e+07,3.360385e+07,0.166550
std,412.66108,66.444012,0.274271,13.986219,0.419320,1.874472,2.923532,1.786317,2.003854e+07,1.815672e+07,...,0.384194,0.434270,0.310195,0.438964,2.077846e+07,2.112372e+07,0.409876,2.121621e+07,2.160228e+07,0.372704
min,1.00000,1.000000,0.000000,17.000000,0.000000,0.000000,1.000000,1.000000,3.251120e+05,1.625560e+05,...,0.000000,0.000000,0.000000,0.000000,3.251120e+05,2.715050e+05,0.000000,7.429200e+04,1.263120e+05,0.000000
25%,358.00000,24.000000,1.000000,25.000000,1.000000,2.000000,8.000000,4.000000,2.326982e+07,1.929852e+07,...,0.000000,0.000000,0.000000,0.000000,2.322229e+07,2.279966e+07,0.000000,2.001911e+07,2.064203e+07,0.000000
50%,715.00000,57.000000,1.000000,30.000000,1.000000,3.000000,9.000000,5.000000,2.891220e+07,2.286194e+07,...,0.000000,0.000000,0.000000,0.000000,3.002882e+07,3.136343e+07,0.000000,2.841172e+07,2.829271e+07,0.000000
75%,1072.00000,105.000000,1.000000,42.000000,1.000000,4.000000,10.000000,6.000000,3.717283e+07,2.656950e+07,...,0.000000,1.000000,0.000000,1.000000,4.003842e+07,4.348584e+07,0.000000,3.982686e+07,4.151762e+07,0.000000
max,1429.00000,292.000000,1.000000,91.000000,1.000000,11.000000,19.000000,12.000000,9.912755e+07,9.961560e+07,...,1.000000,1.000000,1.000000,1.000000,9.978910e+07,9.965119e+07,1.000000,9.944667e+07,9.965119e+07,1.000000

In [14]:
dep_df.corr()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
Survey_id,1.000000,0.662523,0.025015,0.021877,-0.011441,0.020242,-0.037984,0.003653,0.018949,-0.020738,...,0.021197,0.004713,-0.032408,-0.036382,0.039071,0.063214,-0.011613,0.001956,-0.003457,-0.005960
Ville_id,0.662523,1.000000,0.010970,-0.012279,0.026970,0.030428,-0.010412,0.007225,-0.014400,-0.026135,...,-0.017517,-0.101155,-0.012744,-0.017370,0.018342,0.058739,-0.030992,-0.039209,0.004416,0.028954
sex,0.025015,0.010970,1.000000,-0.159376,0.282472,0.214297,-0.072137,0.180664,0.022316,0.028602,...,-0.032950,0.067467,0.087322,0.101543,0.017828,0.070757,-0.025092,0.037923,0.048166,-0.003519
Age,0.021877,-0.012279,-0.159376,1.000000,-0.396944,-0.138448,-0.377146,-0.073936,0.008316,0.045368,...,-0.055884,0.125569,-0.028204,-0.087054,-0.009173,-0.009428,-0.066347,0.045714,-0.023430,0.105721
Married,-0.011441,0.026970,0.282472,-0.396944,1.000000,0.227206,0.218406,0.246808,-0.015317,-0.045356,...,0.023690,0.007212,-0.032171,0.044150,-0.043032,0.036919,0.017792,-0.000606,0.050146,-0.062155
Number_children,0.020242,0.030428,0.214297,-0.138448,0.227206,1.000000,0.175165,0.781731,0.016195,-0.014358,...,-0.019415,0.061140,0.032514,0.065935,0.018512,0.052273,-0.016731,0.042988,0.014344,0.003823
education_level,-0.037984,-0.010412,-0.072137,-0.377146,0.218406,0.175165,1.000000,0.130236,0.014534,-0.011658,...,0.010843,-0.033861,0.014032,0.037305,-0.054515,0.010648,0.044067,0.005361,0.013849,-0.098043
total_members,0.003653,0.007225,0.180664,-0.073936,0.246808,0.781731,0.130236,1.000000,0.015472,-0.040372,...,-0.047026,0.093959,0.008520,0.070958,0.026157,0.072907,-0.043622,0.044341,0.048028,0.035056
gained_asset,0.018949,-0.014400,0.022316,0.008316,-0.015317,0.016195,0.014534,0.015472,1.000000,-0.005730,...,0.028493,0.126403,0.050641,0.075120,0.028656,0.058569,0.022879,0.033085,0.030779,-0.004402
durable_asset,-0.020738,-0.026135,0.028602,0.045368,-0.045356,-0.014358,-0.011658,-0.040372,-0.005730,1.000000,...,0.078162,0.064366,0.015376,0.020218,0.024395,0.027892,0.094494,0.246894,0.022460,0.040505
save_asset,-0.014632,-0.020477,0.006637,-0.026685,0.009164,0.027850,0.046626,0.036630,-0.004477,-0.038218,...,0.039431,0.038605,0.067390,0.053795,0.022900,0.040168,0.061984,0.034959,0.028610,0.009059
living_expenses,0.012638,-0.027240,-0.003493,-0.036599,0.024518,-0.000618,0.010132,-0.005937,0.073981,0.020984,...,0.089769,0.074143,0.031858,0.023410,0.115553,0.003512,0.083639,0.040247,0.047035,-0.028213
other_expenses,0.024938,0.005505,0.055458,0.026270,0.031676,0.001611,-0.043732,0.009988,0.039911,0.086410,...,0.039329,0.063620,0.009415,0.072545,0.071319,0.042088,0.051381,0.048173,0.018902,0.017117
incoming_salary,0.021197,-0.017517,-0.032950,-0.055884,0.023690,-0.019415,0.010843,-0.047026,0.028493,0.078162,...,1.000000,-0.271747,-0.162745,-0.078491,0.016059,0.020840,0.898951,0.000715,0.076819,-0.003929
incoming_own_farm,0.004713,-0.101155,0.067467,0.125569,0.007212,0.061140,-0.033861,0.093959,0.126403,0.064366,...,-0.271747,1.000000,-0.201682,0.081861,0.064287,0.075560,-0.302294,0.086146,0.106510,0.013161
incoming_business,-0.032408,-0.012744,0.087322,-0.028204,-0.032171,0.032514,0.014032,0.008520,0.050641,0.015376,...,-0.162745,-0.201682,1.000000,0.534401,0.040302,0.061623,-0.181039,0.042626,-0.024069,-0.028158
incoming_no_business,-0.036382,-0.017370,0.101543,-0.087054,0.044150,0.065935,0.037305,0.070958,0.075120,0.020218,...,-0.078491,0.081861,0.534401,1.000000,0.087571,0.030318,-0.091069,0.057760,0.004291,-0.025496
incoming_agricultural,0.039071,0.018342,0.017828,-0.009173,-0.043032,0.018512,-0.054515,0.026157,0.028656,0.024395,...,0.016059,0.064287,0.040302,0.087571,1.000000,0.093706,0.039127,-0.003214,0.066920,-0.019147
farm_expenses,0.063214,0.058739,0.070757,-0.009428,0.036919,0.052273,0.010648,0.072907,0.058569,0.027892,...,0.020840,0.075560,0.061623,0.030318,0.093706,1.000000,0.023941,-0.001772,0.125146,-0.004901
labor_primary,-0.011613,-0.030992,-0.025092,-0.066347,0.017792,-0.016731,0.044067,-0.043622,0.022879,0.094494,...,0.898951,-0.302294,-0.181039,-0.091069,0.039127,0.023941,1.000000,0.008067,0.057380,-0.012825
lasting_investment,0.001956,-0.039209,0.037923,0.045714,-0.000606,0.042988,0.005361,0.044341,0.033085,0.246894,...,0.000715,0.086146,0.042626,0.057760,-0.003214,-0.001772,0.008067,1.000000,0.043120,0.004136
no_lasting_investmen,-0.003457,0.004416,0.048166,-0.023430,0.050146,0.014344,0.013849,0.048028,0.030779,0.022460,...,0.076819,0.106510,-0.024069,0.004291,0.066920,0.125146,0.057380,0.043120,1.000000,0.051973
depressed,-0.005960,0.028954,-0.003519,0.105721,-0.062155,0.003823,-0.098043,0.035056,-0.004402,0.040505,...,-0.003929,0.013161,-0.028158,-0.025496,-0.019147,-0.004901,-0.012825,0.004136,0.051973,1.000000